body {
     background-color: dimgray;
}
header{
    background-color:#C0A524
}
nav{
    background-color:#005D00;
    border-color:#61C961
}
main{
    background-color: dimgray;
}
footer{
    background-color:#9D0E0E ;
    border-color:#FB7979
}
.Label{
    width: 10%;
    display:inline-block;
}
.textbox{
    display:inline-block;
}
.DropDown{
    display:inline-block;
}
.FileUpload{
    display:inline-block;
}
main div{
    margin:auto;
    width:1004px;
}
body div{
    position:absolute;
    top: 0;
    right:0;
}
/* http://paletton.com/#uid=51q1q0kq1o2gAvzlsrkt3jF-sex */