body {
     background-color: dimgray;
}
header{
    background-color:#C0A524
}
nav{
    background-color:#005D00;
    border-color:#61C961
}
main{

    background-color: dimgray;
}
footer{
    background-color:#9D0E0E ;
    border-color:#FB7979
}
.Label{
    width: 15%;
    display:inline-block;
}
.textbox{
    display:inline-block;
}
.DropDown{
    display:inline-block;
}
.FileUpload{
    display:inline-block;
}
#NavMenu
{
    background-color:#C02424;
    border-color:#FB7979;
}
main div{
    margin:auto;
    width:100%;
    max-width:1004px;
}
.LoginControl{
    position:absolute;
    top: 0;
    right:0;
}
.col{  
    width: 100%;  
    box-sizing: border-box;  
    padding:10px;
}
.contact{  
    background-color:#1D991D;
}
@media (min-width: 768px){
    .col_25{
        width:25%
    }
    .col_75{
        width:75%
    }
}
/* http://paletton.com/#uid=51q1q0kq1o2gAvzlsrkt3jF-sex */